body {
  max-width: 1200px;
  padding: 20px;
}

header {
  background: black;
  padding: 20px;
}

.cabecera {
  display: inline-block;
  background: red;
  margin: 10px;
  color: red;
  width: 15%;
}

.cabeceraLargo {
  width: 75%;
}

.PadreHeader {
  background: rgb(63, 60, 60);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav {
  background: black;
  padding: 0 20px 20px 20px;
}

.div-nav {
  background: orange;
  padding: 10px;
}

.navegacion {
  background: rgb(255, 230, 0);
  color: rgb(255, 230, 0);
  margin: 10px;
}

section {
  background: black;
  padding: 20px;
  margin: 20px 0;
  width: 75%;
}

.padre-section {
  background: rgb(63, 60, 60);
  padding: 10px;
}

.seccion {
  background: rgb(5, 112, 145);
  color: rgb(5, 112, 145);
  margin: 10px;
  width: 50%;
}

.columna1 {
  display: flex;
}

.columna2 {
  display: flex;
}

.sectionPie {
  background: rgb(113, 189, 183);
  color: rgb(113, 189, 183);
  margin: 10px 10px 10px 10px;
}

aside {
  background: black;
  padding: 20px 20px 20px 0;
  margin: 20px 0;
  width: 25%;
}

.div-aside {
  background: rgb(255, 0, 0);
  padding: 10px 10px 75px 10px;
}

.aside {
  background: rgb(255, 196, 0);
  color: rgb(255, 196, 0);
  margin: 10px;
}

.section-aside {
  display: flex;
  justify-content: center;
}

footer {
  background: black;
  padding: 10px;
}

.footer {
  background: rgb(255, 217, 0);
  color: rgb(255, 217, 0);
  margin: 10px;
}

@media (max-width: 900px) {
  section {
    background: yellow;
    width: auto;
    margin: 20px 0px 0 0;
    padding: 20px 20px 0px 20px;
  }

  aside {
    background: yellow;
    width: auto;
    margin: 0px 0px 20px 0px;
  }

  .section-aside {
    flex-direction: column;
  }

  .div-aside {
    margin: 0 0 0 20px;
    padding: 10px ;
  }
}

@media (max-width: 600px) {
  .PadreHeader {
    flex-direction: column;
  }

  .cabecera {
    width: 95%;
  }

  .cabeceraLargo {
    width: 95%;
  }

  section {
    background: yellow;
  }

  aside {
    background: yellow;
  }

  .columna1 {
    flex-direction: column;
  }

  .columna2 {
    flex-direction: column;
  }

  .seccion {
    width: 95%;
  }
}
